services:
  noalbs:
    image: moothecow/noalbs:${NOALBS_VERSION}
    container_name: noalbs
    restart: unless-stopped
    stdin_open: true
    networks:
      - moo-net
    tty: true
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    volumes:
      - ./config_noalbs.json:/noalbs/config.json
      - ./env_noalbs:/noalbs/.env
#SRTLA BEGIN
  srtla-live-server:
    image: moothecow/srtla-live-server:${GLOBAL_SRT_VERSION}
    container_name: srtla-live-server
    restart: unless-stopped
    stdin_open: true
    networks:
      - moo-net
    tty: true
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    ports: 
      - "30001:30000/udp"
      - "8283:8181/tcp"
  srtla-receiver:
    image: moothecow/srtla-receiver:0.0.8
    container_name: srtla-receiver
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - moo-net
    ports:
      - "5002:5000/udp"
      - "5003:5001/udp"
    environment:
      - SRT_ENDPOINT_ADDR=srtla-live-server
      - SRT_ENDPOINT_PORT=30000
    depends_on:
      - "srtla-live-server"
  #SRTLA END
  #RIST BEGIN
  moo-rist:
    image: moothecow/moo-rist:${GLOBAL_RIST_VERSION}
    container_name: moo-rist
    restart: unless-stopped
    tty: true
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - moo-net
    ports:
      - '2030:2030/udp'
      - '2031:2031/udp'
    command: ristreceiver -i 'rist://@moo-rist:2030?rtt-min=100${RIST_AUTHARGUMENTS}' -o 'rist://moo-rist-forwarder:12345' -r 'moo-rist-stats:5005' -p 1
    depends_on:
      - "moo-rist-stats"
      - "moo-rist-forwarder"
  moo-rist-forwarder:
    image: moothecow/moo-rist-forwarder:${GLOBAL_RIST_VERSION}
    container_name: moo-rist-forwarder
    restart: unless-stopped
    tty: true
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - moo-net
    ports:
      - '5556:5556/udp'
    command: ristsender -i 'udp://@moo-rist-forwarder:12345' -o 'rist://@moo-rist-forwarder:5556?cname=moo-rist-relay${RIST_AUTHARGUMENTS_FORWARDER}' -p 1
  moo-rist-stats:
    image: moothecow/moo-rist-stats:${GLOBAL_RIST_VERSION}
    container_name: moo-rist-stats
    restart: unless-stopped
    tty: true
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - moo-net
    ports:
      - '8681:8080'
      - '8683:8081'
    volumes:
      - ./logfile.json:/opt/moostream/logfile.json
#RIST END
networks:
  moo-net:
    driver: bridge
